.homeButton {
  margin: 0.2rem;
  padding: 0.5rem 1rem;
  background-color: #0070f3;
  color: white;
  border: none;
  cursor: pointer;
  width: fit-content;
}

.homeButton:hover {
  background-color: #005bb5;
}